################################################################################
# 此文件由项目作者创建，您可以根据需要进行增删调整。
################################################################################

# Vue 项目文件
dist/
node_modules/
webpack/

.vs/
.vscode/
.vs/Scm.Vue.slnx/v18/DocumentLayout.json
.vs/Scm.Vue.slnx/v18/.wsuo
.vs/Scm.Vue/v18/workspaceFileList.bin
.vs/slnx.sqlite
.vs/Scm.Vue/v18/workspaceFileList.bin
.vs/Scm.Vue.slnx/v18/DocumentLayout.json
