################################################################################
# 此文件由项目作者创建，您可以根据需要进行增删调整。
################################################################################

# Vue 项目文件
dist/
node_modules/
webpack/

.vs/
.vscode/
